/*Comportamento normal da página*/
html {
    height: 100%;
}
body {
    background-image: url('/images/fundodesktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    margin:0;
    padding: 0;
   
}